<a href="https://colab.research.google.com/github/jakub-porowski/RpgCompanion/blob/main/RpgCompanion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import random

In [3]:
RacesUrl = 'https://raw.githubusercontent.com/jakub-porowski/RpgCompanion/main/Races.xlsx'
ItemsUrl = 'https://raw.githubusercontent.com/jakub-porowski/RpgCompanion/main/Items.xlsx'
ClassesUrl = 'https://raw.githubusercontent.com/jakub-porowski/RpgCompanion/main/Classes.xlsx'
CharacterUrl = 'https://raw.githubusercontent.com/jakub-porowski/RpgCompanion/main/Character.xlsx'

Races = pd.read_excel(RacesUrl)
Items = pd.read_excel(ItemsUrl)
Classes = pd.read_excel(ClassesUrl)
Character = pd.read_excel(CharacterUrl)

In [4]:
Races

   Race_ID   Name  Health  Strenght  ...  Magic  Charisma  Inteligence  Description
0        1  Human      20        25  ...     20        20           15  lorem ipsum
1        2    Elf      20        30  ...     25        20           20  lorem ipsum

[2 rows x 9 columns]

In [5]:
Items
# nie ma bo  nie dodalem

Empty DataFrame
Columns: []
Index: []

In [ ]:
Classes

   Class_ID    Title  Health  ...  Charisma  Inteligence      Description
0         1    Rogue       0  ...         0            0  SomeDescription
1         2  Warrior       0  ...         0            0  SomeDescription
2         3     Mage       0  ...         0            0  SomeDescription

[3 rows x 9 columns]

In [ ]:
Character

   Character_ID  Race_ID  Class_ID  ... Charisma  Inteligence  Description
0             1        1         1  ...        0            0  Description
1             2        2         2  ...        0            0  Description

[2 rows x 12 columns]

In [6]:
Roll = random.randint(1,100)
print("You rolled",Roll)

You rolled 53